
[Desktop Entry]
Encoding=UTF-8
Name=Flocks
Comment=Another one of the nice GL screensavers from the ReallySlick ScreenSavers package written by Terry Walsh
TryExec=flocks
Exec=flocks -r
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
