
[Desktop Entry]
Encoding=UTF-8
Name=Flux
Comment=Another one of the nice GL screensavers from the ReallySlick ScreenSavers package written by Terry Walsh
TryExec=flux
Exec=flux -r
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
