
[Desktop Entry]
Encoding=UTF-8
Name=Skyrocket
Comment=Another one of the nice GL screensavers from the ReallySlick ScreenSavers package written by Terry Walsh
TryExec=skyrocket
Exec=skyrocket -r --volume 0
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
