
[Desktop Entry]
Encoding=UTF-8
Name=Solarwinds
Comment=Another one of the nice GL screensavers from the ReallySlick ScreenSavers package written by Terry Walsh
TryExec=solarwinds
Exec=solarwinds -r
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver
